/Users/tommybarth/Documents/code/ironyardfrontend/accordionjquery/gulpfile.js
/Users/tommybarth/Documents/code/ironyardfrontend/accordionjquery/app
/Users/tommybarth/Documents/code/ironyardfrontend/accordionjquery/node_modules